
# Dependency directories
node_modules/

# folder files
data_folder/

# no coverate
coverage/

# ignore output
output/

# no distribution files
dist/

# Image files
*.jpg
*.png

# MacOS
.DS_Store
.idea/

# TypeScript compiled .map files
*.map  
  